/* -------------------------------------------------------------------------- */
/*                          IMPORT GOOGLE FONTS HERE                          */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
/* -------------------------------------------------------------------------- */
/*                          IMPORT STYLE SHEETS HERE                          */
/* -------------------------------------------------------------------------- */
/* @import './socials.css';
@import './logo.css';
@import './opening.css';
@import './email.css';
@import './menu.css';
@import './heroSection.css';
@import './aboutSection.css';
@import './benefitsSection.css';
@import './projectsSection.css';
@import './processSection.css';
@import './footer.css'; */
/* -------------------------------------------------------------------------- */
@import './button.css';

/* -------------------------------------------------------------------------- */
/**
 Font references:

 Regular: 400;
 Medium: 500;
 Semi-bold: 600;
 Bold: 700;
 Extra-bold: 800;


'Contrail One', cursive;
'Source Sans Pro', sans-serif;
'Inconsolata', monospace;
 */
/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
:root {
  --space1: 3px;
  --space2: 5px;
  --space3: 8px;
  --space4: 13px;
  --space5: 26px;
  --space6: 52px;
  --space7: 76px;
  --space8: 112px;
  --mobile: 400px;
  --small: 600px;
  --medium: 1000px;
  --large: 1300px;
  --standard-header: 'Contrail One', cursive;
  --standard-font: 'Source Sans Pro', sans-serif;
  --brand-font: 'Oswald', sans-serif;
  --special-font: 'Inconsolata', monospace;
  --standard-black: #000000;
  --standard-white: #ffffff;
  --standard-grey: #e2e2e2;
  --standard-dark-grey: #545250;
  --standard-light-grey: #fcfaf6;
  --grey-passthough: #979797;
  --grey-border: #a9a9a8;
  --grey-placeholder: #716868;
  --grey-crumb: #53524e;
  --grey-disabled: #f2f2f2;
  --grey-chip: #f1f1f1;
  --grey-one: #d8d8d8;
  --bg-grey: #f7f7f7;
  --bg-dark: #383634;
  --bg-close-icon: #e9e7e3;
  --bg-light-gray: #e5e5e5;
  --standard-gold: #b59f66;
  --sale: #902f15;
  --error: #9a3515;
  /* -------------------------------------------------------------------------- */
  --dark: #000913;
  --dark-2: #001329;
  --light: #97c1e7;
  --light-2: #dbeeffda;
  --bright: #ffdb93;
  --bright-2: #ffbf3e;
  --primary: #003d5c;
  --secondary: #ffa600;
  --faded: #000000ec;
}
/* -------------------------------------------------------------------------- */

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--standard-font);
  color: var(--standard-white);
  background-color: var(--dark);
  font-size: 16px; /* BASE FONT SIZE */
  line-height: 1.5em;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* [data-button] {
  cursor: pointer;
  user-select: none;
}

h1,
.h1 {
  font-family: var(--standard-header);
  font-size: 72px;
  line-height: 83px;
  margin: 0;
}

h2,
.h2 {
  font-family: var(--standard-header);
  font-size: 52px;
  line-height: 60px;
  margin: 0;
}

h3,
.h3 {
  font-family: var(--standard-header);
  font-size: 42px;
  line-height: 49px;
  margin: 0;
}

h4,
.h4 {
  font-family: var(--standard-header);
  font-size: 32px;
  line-height: 37px;
  margin: 0;
}

h5,
.h5 {
  font-family: var(--standard-header);
  font-size: 30px;
  line-height: 35px;
  margin: 0;
}

h6,
.h6 {
  font-family: var(--standard-header);
  font-size: 25px;
  line-height: 29px;
  margin: 0;
}

.quote {
  font-family: var(--standard-header);
  font-size: 42px;
  line-height: 49px;
  margin: 0;
}

p {
  margin: 0;
}

.b1 {
  font-size: 20px;
}

.b2 {
  font-size: 18px;
}

.b3 {
  font-size: 16px;
}

.b4 {
  font-size: 14px;
}

.buttonText {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 55px;
  }

  h2,
  .h2 {
    font-size: 50px;
  }

  h3,
  .h3 {
    font-size: 40px;
  }

  h4,
  .h4 {
    font-size: 30px;
  }

  h5,
  .h5 {
    font-size: 25px;
  }

  h6,
  .h6 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 22px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
}

.subtitle.small {
  font-weight: 500;
  font-size: 18px;
}

.small {
  font-size: 14px;
}

.overline {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input:focus {
  outline: none !important;
  outline-offset: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                FONT CONTROLS                               */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: var(--standard-black);
  transition: all ease-in-out 0.3s;
}

.uppercase {
  text-transform: uppercase;
}

.hover-text-main:hover {
  color: var(--standard-grey);
}

ul {
  list-style: none;
  padding: 0;
}

ul.bullets {
  margin-left: 40px;
  list-style: disc;
}

ul.bullets li {
  margin-bottom: 5px;
}

ol {
  margin: 0;
  padding-left: 1.8em;
}

/* -------------------------------------------------------------------------- */
/*                                   SPACING                                  */
/* -------------------------------------------------------------------------- */

.p-4 {
  padding: var(--space4);
}

.p-5 {
  padding: var(--space5);
}

.py-4 {
  padding-top: var(--space4);
  padding-bottom: var(--space4);
}

.py-8 {
  padding-top: var(--space8);
  padding-bottom: var(--space8);
}

.pt-3 {
  padding-top: var(--space3);
}

.pt-4 {
  padding-top: var(--space4);
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-4 {
  padding-bottom: var(--space4);
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: var(--space4);
}

.ml-3 {
  margin-left: var(--space3);
}

.ml-4 {
  margin-left: var(--space4);
}

.mt-2 {
  margin-top: var(--space2);
}

.mt-4 {
  margin-top: var(--space4);
}

.mt-5 {
  margin-top: var(--space5);
}

.mx-3 {
  margin-left: var(--space3);
  margin-right: var(--space3);
}

/* -------------------------------------------------------------------------- */
/*                                   LAYOUT                                   */
/* -------------------------------------------------------------------------- */

.flex {
  display: flex;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.col {
  display: flex;
  flex-direction: column;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.around {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align {
  display: flex;
  align-items: center;
}

.justify {
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                 GRID LAYOUT                                */
/* -------------------------------------------------------------------------- */

.grid {
  display: grid;
  gap: 40px;
}

.grid-gap0 {
  display: grid;
  gap: 0;
}

.grid-gap20 {
  display: grid;
  gap: 20px;
}

.grid-gap60 {
  display: grid;
  gap: 60px;
}

.grid-0595 {
  grid-template-columns: 0.1fr 1.9fr;
}

.grid-1585 {
  grid-template-columns: 0.3fr 1.7fr;
}

.grid-2080 {
  grid-template-columns: 0.4fr 1.6fr;
}

.grid-25 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2575 {
  grid-template-columns: 0.5fr 1.5fr;
}

.grid-3070 {
  grid-template-columns: 0.6fr 1.4fr;
}

.grid-33 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4060 {
  grid-template-columns: 0.8fr 1.2fr;
}

.grid-50,
.grid-5050 {
  grid-template-columns: 1fr 1fr;
}

.grid-6040 {
  grid-template-columns: 1.2fr 0.8fr;
}

.grid-7030 {
  grid-template-columns: 1.4fr 0.6fr;
}

.grid-7525 {
  grid-template-columns: 1.5fr 0.5fr;
}

.grid-v-space-0 {
  gap: 0 40px;
}

/* -------------------------------------------------------------------------- */
/*                                    FORMS                                   */
/* -------------------------------------------------------------------------- */

.formField {
  margin-bottom: 20px;
  position: relative;
}

.formField.mb-0 {
  margin-bottom: 0px;
}

.formField input[type='text'],
.formField input[type='email'],
.formField input[type='number'],
.formField input[type='tel'],
.formField input[type='password'],
.formField textarea,
.formField select {
  width: 100%;
  border: 1px solid var(--bg-light-gray);
  font-size: 14px;
  padding: 12px 20px 12px 12px;
  line-height: 1;
  box-sizing: border-box;
  font-family: var(--standard-font);
}

.formField textarea {
  resize: none;
  height: 150px;
}

.formField select {
  padding: 9px 10px;
}

.formField label,
.formField span.label {
  display: block;
  width: 100%;
  font-size: 14px;
}

.formField label.middle,
.formField span.label.middle {
  display: flex;
  align-items: center;
}

.formField.required label::after,
.formField.required label::after,
.formField.required label::after {
  content: '*';
  display: inline-block;
  margin-left: 4px;
  /* color: var(--standard-red); */
}

.formField .error {
  /* position: absolute; */
  /* bottom: -2px; */
  /* right: 5px; */
  color: var(--error);
  font-size: 12px;
  line-height: 15px;
}

.genericError {
  color: var(--error);
  font-size: 12px;
  line-height: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                 DATA TABLES                                */
/* -------------------------------------------------------------------------- */

.dataTable {
  width: 100%;
}

.dataTableRow {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.dataTableRow:nth-child(odd) {
  background-color: #efefef;
}

.dataTableCell {
  margin-left: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.dataTableCell.alignTop {
  align-items: flex-start;
}

.dataTableCell.alignBottom {
  align-items: flex-end;
}

.dataTableCell:first-child {
  margin-left: 0;
}

.dataTableActionsCell {
  margin-left: auto;
}

.dataTableActionsCell [data-button] {
  margin-left: 5px;
  cursor: pointer;
}

.dataTableEditor {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
}

.dataTableEditor.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding-top: 10px;
}

/* Formatting */
.box {
  border: 1px solid #eee;
  padding: 10px;
}

.box:nth-child(odd) {
  background-color: #efefef;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                                   HELPERS                                  */
/* -------------------------------------------------------------------------- */

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: initial;
  transition: all 0.3s ease-in-out;
}

.btnGroup > * {
  margin-right: 10px;
}

.btnGroup > *:last-child {
  margin-right: 0px;
}

.disable-action {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.standardSpan {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.callout {
  margin: 40px 0;
  padding: 30px;
  background-color: var(--bg-light-gray);
  text-align: center;
}

/* START CONTENT CSS */
/* -------------------------------------------------------------------------- */
/*                                ABOUT SECTION                               */
/* -------------------------------------------------------------------------- */

.aboutSection {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}
.aboutSection button {
    margin-top: 1em;
}
.aboutSection p{
    width: 65%;
}
#usedTo {
    font-family: var(--brand-font);
    text-align: center;
}
#developing {
    width: 55%;
    font-family: var(--brand-font);
    color: var(--bright);
    text-align: right;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 1em 0em;
}
#speaking {
    text-align: center;
}

@media screen and (min-width: 480px) {
    .aboutSection p {
        font-size: 1.2em;
    }
    
}
@media screen and (min-width: 800px) {
    .aboutSection p {
        font-size: 1.6em;
    }
    #usedTo {
        margin-bottom: 1em;
    }
    #developing {
        margin: 1em 0em;
        padding: 1em 0em;
    }
}

/* -------------------------------------------------------------------------- */
/*                              BENEFITS SECTION                              */
/* -------------------------------------------------------------------------- */

.benefitsSection {
    width: 100%;
    height: 100%;
    padding: 6em 0em;
}
.benefitsContainer {
    width: 65%;
    height: 100%;
    margin: 2rem;
}
.benefitsContainer h5 {
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid white;
}
.benefitsItem {
    min-width: 200px;
    padding: 10rem;
    margin: 0em 1em;
    flex: 1;
}
.benefitsItem h4 {
    margin-bottom: .5em;
    min-width: max-content;
}
.benefitsItem p {
    text-align: center;
}
.benefitsItem i {
    font-size: 2.5em;
    margin: 1em 0em;
}

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

.contactBtn {
  font-size: 1.3rem;
  font-family: var(--jetbrains);
  min-width: 5rem;
  height: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  border: 2px solid var(--light);
  color: var(--light);
}

.contactBtn:hover {
  color: black;
  border: 2px solid var(--bright);
  background: var(--bright);
}

@media screen and (min-width: 480px) {
    .contactBtn {
        font-size: 1.8em;
    }
    
}
@media screen and (min-width: 800px) {
    .contactBtn {
        font-size: 2.1em;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    EMAIL                                   */
/* -------------------------------------------------------------------------- */

.email {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .4em;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 10px 0px 0px 0px;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.emailLink {
  font-size: 3em;
  color: white;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.emailLink:hover {
  color: var(--secondary);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
@media screen and (min-width: 412px) {
    .emailLink {
        font-size: 3.4em;
    }
}
@media screen and (min-width: 800px) {
    .emailLink {
        font-size: 4em;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

.footerSection {
  width: 100%;
  height: 100%;
  padding: 6em 0em;
}
.footerContainer {
  width: 65%;
  height: 100%;
  margin: 2em;
}
.footerColumn {
  min-width: 200px;
  padding: 10em;
  margin: 0em 1em;
  flex: 1;
}
.footerColumn h6 {
  margin-bottom: 0.3em;
}
.footerColumn p {
  width: 90%;
}
table {
  border-spacing: 8px;
}
td {
  min-width: max-content;
  color: var(--bright);
}
td a {
  color: var(--bright);
}
td a:hover {
  color: var(--light);
}

.copyright {
  transform: translateY(7em);
}
#copyrightImage {
  width: 90px;
  margin: 0em 0.4em;
}
#date {
  font-size: 0.8em;
}

/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */

.heroSection {
    width: 100%;
    height: 100vh;
}

.heroSection img {
    width: 65%;
    max-width: 300px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 1em;

}
#heroText {
    width: 65%;
    font-size: 1.2em;
    text-align: center;
    color: var(--bright);
    font-family: var(--brand-font)
}
.scrollDown {
    font-size: 1.3em;
    margin-top: 1em;
}
.heroContainer {
    transform: translateY(-40px);
}

@media screen and (min-width: 480px) {
    .heroSection img {
        margin-bottom: 1.4em;
    }
    #heroText {
        font-size: 1.4em;
    }
}
@media screen and (min-width: 800px) {
    .heroSection img {
        margin-bottom: 1.6em;;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    LOGO                                    */
/* -------------------------------------------------------------------------- */

.logo {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.123);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 0px 0px 10px 0px;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  z-index: 1;
}
.logo img {
  width: 8em;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

@media screen and (min-width: 412px) {
    .logo img {
        width: 11em;
    }
}
@media screen and (min-width: 800px) {
    .logo img {
        width: 13em;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    MENU                                    */
/* -------------------------------------------------------------------------- */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border-right: 2px solid white;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  cursor: pointer;
  transform: translate(8px, -5px);
}
.menuIcon {
  font-size: 2em;
  padding: 0.2em;
  z-index: 1;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 10px;
}
.menuIcon.menuOpen {
  color: var(--secondary);
}
.menuContainer {
  position: fixed;
  top: 6em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945);
  z-index: 1;
  border-left: 3px solid var(--bright);
  cursor: pointer;
}
nav {
  height: 80%;
}
.menuLink {
  color: white;
  font-size: 2.2em;
  margin: 0.3em 0em;
  padding: .4em;
  border-left: 2px solid white;
  text-transform: uppercase;
  font-family: var(--brand-font);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.menuLink:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border-left: 2px solid var(--bright);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
#theProcessLink {
  cursor: pointer;
}

@media screen and (min-width: 412px) {
  
}
@media screen and (min-width: 800px) {
 
  .menuLink {
    font-size: 3em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */

/* SLIDE IN */

.slideIn {
  -webkit-animation: slideIn 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slideIn 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */

/* SLIDE OUT */

.slideOut {
  -webkit-animation: slideOut 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slideOut 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(3000px) scaleX(2) scaleY(0.2);
    transform: translateX(3000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(3000px) scaleX(2) scaleY(0.2);
    transform: translateX(3000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}


/* -------------------------------------------------------------------------- */
/*                                   OPENING                                  */
/* -------------------------------------------------------------------------- */

.opening {
  height: 95vh;
  width: 100%;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.opening img {
  width: 5em;
  margin-bottom: 1em;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.opening h5 {
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
@media screen and (min-width: 412px) {
  .opening img {
    width: 6em;
  }
}
@media screen and (min-width: 800px) {
  .opening img {
    width: 7em;
  }
}


/* -------------------------------------------------------------------------- */
/*                               PROCESS SECTION                              */
/* -------------------------------------------------------------------------- */

.processSection {
  width: 100%;
  height: 20vh;
  background-color: var(--primary);
  cursor: pointer;
}
.processContainer {
  width: 50%;
  height: 100%;
}
#learnAbout {
  height: 100%;
  text-align: center;
  /* border: 2px solid white; */
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  cursor: pointer;
}
#learnAbout:hover {
  color: black;
  background-color: var(--bright);
  border: 2px solid var(--bright);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
#learnAbout h6 {
  font-family: var(--brand-font);
  padding: 10px;
  font-weight: 300;
}

.theProcess {
  height: 80%;
  width: 90%;
  position: fixed;
  bottom: 60px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.959);
  color: white;
  /* transform: translate(-50%, -50%); */
  border-radius: 25px;

}
.theProcessContainer {
  height: 100%;
  width: 100%;
}
.theProcess ol {
  width: 80%;
  height: 80%;
}
.theProcess li {
  font-size: 1em;
  margin: .4em 0em;
  font-family: var(--brand-font);
  font-weight: 300;
}
.theProcess li span {
  font-size: 1.2em;
  color: var(--bright);
  font-weight: 800;
}
.theProcess button {
  margin-bottom: .4em;
  margin-top: .6em;
}

@media screen and (min-width: 480px) {
    .theProcess button {
        margin-top: 1em;
    }
}
@media screen and (min-width: 800px) {
  .theProcess {
    left: 70px;
  }
  .theProcess li {
    font-size: 1.2em;
    margin: 1.2em 0em;
  }
    .theProcess button {
        margin-top: 1em;
    }
}
@media screen and (min-width:1200px) {
  .theProcess li {
    font-size: 1.6em;
    min-width: max-content;
  }
}


/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */

/* puff in */

.puffIn {
	-webkit-animation: puffIn 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puffIn 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puffIn {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puffIn {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */

/* puff out */

.puffOut {
	-webkit-animation: puffOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puffOut 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puffOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puffOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                               PROJECT SECTION                              */
/* -------------------------------------------------------------------------- */

.projectsSection {
    width: 100%;
    height: 100%;

    background-color: var(--bg-grey);
    color: black;
}
.projectsSection img {
    width: 300px;
    border-radius: 10px;
    margin: 1.2em 0em;
    border-bottom: 3px solid var(--dark);
}
.projectsContainer {
    width: 100%;
    height: 100%;
}
.projectsContainer h5 {
    color: black;
    width: 100%;
    background-color: rgb(234, 238, 241);
    text-align: center;
    padding: 2em;
}
.projectsItem {
    width: 350px;
    margin: 0em 2em;
    padding: 1.8em .5em;
    background-color: var(--grey-chip);
    border-radius: 10px;
    flex: 1;
}
.projectsItemContainer {
    margin: 3em;
}
.projectsItem h6 {
    min-width: max-content;
}
.projectsItem p {
    font-family: var(--brand-font);
    font-size: 1.2em;
    text-align: center;
    width: 85%;
}

/* -------------------------------------------------------------------------- */
/*                                   SOCIALS                                  */
/* -------------------------------------------------------------------------- */

.socials {
  background-color: rgba(0, 0, 0, 0.123);
  border-top: 3px solid white;
  padding-top: .5em;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.socialLink {
  color: white;
  font-size: 2.6em;
  margin: .2em;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.socialLink:hover {
  color: var(--secondary);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

@media screen and (min-width: 412px) {
    .socialLink {
        font-size: 2.7em;
        margin-bottom: 0.1em;
    }
}
@media screen and (min-width: 800px) {
    .socialLink {
        font-size: 3.2em;
        margin-bottom: 0.2em;
    }
}