.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border-right: 2px solid white;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  cursor: pointer;
  transform: translate(8px, -5px);
}
.menuIcon {
  font-size: 2em;
  padding: 0.2em;
  z-index: 1;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  background-color: rgba(0, 0, 0, 0.123);
  border-radius: 10px;
}
.menuIcon.menuOpen {
  color: var(--secondary);
}
.menuContainer {
  position: fixed;
  top: 6em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945);
  z-index: 1;
  border-left: 3px solid var(--bright);
  cursor: pointer;
}
nav {
  height: 80%;
}
.menuLink {
  color: white;
  font-size: 2.2em;
  margin: 0.3em 0em;
  padding: .4em;
  border-left: 2px solid white;
  text-transform: uppercase;
  font-family: var(--brand-font);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
.menuLink:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border-left: 2px solid var(--bright);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
#theProcessLink {
  cursor: pointer;
}

@media screen and (min-width: 412px) {
  
}
@media screen and (min-width: 800px) {
 
  .menuLink {
    font-size: 3em;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */

/* SLIDE IN */

.slideIn {
  -webkit-animation: slideIn 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slideIn 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */

/* SLIDE OUT */

.slideOut {
  -webkit-animation: slideOut 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slideOut 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
