.processSection {
  width: 100%;
  height: 20vh;
  background-color: var(--primary);
}
.processContainer {
  width: 50%;
  height: 100%;
}
#learnAbout {
  height: 100%;
  text-align: center;
  border: 2px solid white;
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  cursor: pointer;
}
#learnAbout:hover {
  color: black;
  background-color: var(--bright);
  border: 2px solid var(--bright);
  -o-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}
#learnAbout h6 {
  font-family: var(--brand-font);
  padding: 10px;
  font-weight: 300;
}
